<?xml version="1.0"?>

<launch>
    <!-- run pointcloud_to_laserscan node -->
    
  <node pkg="rviz" type="rviz" name="rviz"
    args="-d $(find wheego)/launch/scanView.rviz -f velodyne"/>
  <node pkg="pointcloud_to_laserscan"
    type="pointcloud_to_laserscan_node" name="pointcloud_to_laserscan">
    <remap from="cloud_in" to="velodyne_points"/>
    <remap from="scan" to="scan2"/>
    <rosparam>
      min_height: -1.0
      max_height: 0.5
      angle_min: -3.14159     # -M_PI
      angle_max: 3.14159      # M_PI
      angle_increment: 0.0044 # M_PI/720.0
      range_min: 1.0
      range_max: 90.0
      use_inf: true
    </rosparam>
  </node>
  <node pkg="tf" type="static_transform_publisher"
    name="base_to_laser_broadcaster"
    args="0 0 0 0 0 0 map velodyne 10"/>
</launch>
