<?xml version="1.0"?>

<!--Edited from hector_slam_launch/tutorial.launch-->

<launch>

  <arg name="geotiff_map_file_path" default="$(find wheego)/maps"/>

  <param name="/use_sim_time" value="true"/>

  <node pkg="rviz" type="rviz" name="rviz"
    args="-d $(find wheego)/launch/mapNav.rviz"/>
  
  <include file="$(find wheego)/launch/cloud_to_scan.launch"/>

  <node pkg="tf" type="static_transform_publisher"
    name="base_to_laser_broadcaster"
    args="0 0 0 0 0 0 base_footprint velodyne 100"/>

  <include file="$(find wheego)/launch/mapping_edit.launch">
    <arg name="odom_frame" value="base_footprint"/>
    <arg name="scan_topic" value="scan2" />
    <arg name="map_size" value="150"/>
  </include>

  <include file="$(find hector_geotiff)/launch/geotiff_mapper.launch">
    <arg name="trajectory_source_frame_name" value="scanmatcher_frame"/>
    <arg name="map_file_path" value="$(arg geotiff_map_file_path)"/>
  </include>

</launch>
